{// 加载头部公共文件 }
<include file="Public:header" />
{// 加载页眉文件 }
<include file="Public:top" />
{// 加载加载菜单 }
<include file="Public:menu" />

<div id="{:MODULE_NAME}" class="main">
	<div class="container" style="width: 960px;">
		<div class="left-sector">
			<ul id="sector">
				<li>技术部</li>
				<li>财务部</li>
				<li>业务部</li>	
			</ul>
		</div>
		<div class="right-sector">
			<div class="right-title">
				财务部
			</div>
			<div class="right-in-table">
				<table border="1" width="672">
					<tr>
						<td class="table-title">主要职责</td>
						<td class="table-title">工作人员</td>
					</tr>
					<tr>
						<td style="width: 260px;">
							<div class="sector-introduce">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负责公司内部的财务工作负责公司内部的财务工作负责公司内部的财务工作负责公司内部的财务工作负责公司内部的财务工作负责公司内部的财务工作
							</div>
						</td>
						<td>
							<table id="user-message">
								<tr>
									<td>
										<div class="name-img"><img src="__PUBLIC__/image/sector/917.png"></div>
									</td>
									<td>
										<div class="name-img"><img src="__PUBLIC__/image/sector/929.png"></div>
									</td>
									<td style="border-right:none;">
										<div class="name-img"><img src="__PUBLIC__/image/sector/950.png"></div>
									</td>
								</tr>
								<tr>
									<td style="border-bottom:none;">
										<div class="user-message">
											<div class="user-name">吴譜</div>
											<div class="user-position">部长</div>
											<div class="user-phone">电话：123456789</div>
										</div>
									</td>
									<td style="border-bottom:none;">
										<div class="user-message">
											<div class="user-name">夏伟友</div>
											<div class="user-position">副部长</div>
											<div class="user-phone">电话：123456789</div>
										</div>
									</td>
									<td style="border-bottom:none;">
										<div class="user-message">
											<div class="user-name">李佳</div>
											<div class="user-position">科员</div>
											<div class="user-phone">电话：123456789</div>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<div class="right-bottom-table">
				<table border="1" width="672">
					<tr>
						<td rowspan="4" style="text-align:center;color:red;">业务办理</td>
						<td>计费</td>
						<td>打印</td>
						<td>文员</td>
						<td>前台</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td rowspan="4" style="text-align:center;color:red;">政务公开</td>
						<td><a href="details">计费</a></td>
						<td>打印</td>
						<td>文员</td>
						<td>前台</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{// 加载加载页脚 }
<include file="Public:footer"/>	