{// 加载头部公共文件 }
<include file="Public:header" />

<div class="width980_dt_bg"><ul class="width980_dt_bg_top"><li class="width980_bg_bottom">
			<table width="980" cellspacing="0" cellpadding="0" border="0">
			    <tbody>
			        <tr>
			            <td valign="top" style="height:430px;padding: 20px 30px 10px 45px;">
			            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>                   
                                <tr>
                                    <td align='center'> <br><br><br><br><br><br><br><img src='__PUBLIC__/Images/log_em.png' width='50%' height='50%' border='0'>
                                    <br><br><br>
                                    Coming Soon ...
                                    </td>
                                </tr>
                            </tbody>
                        </table>
			            </td>
			        </tr>
			    </tbody>
			</table>
        </li>
    </ul>
</div>
<!-- 主页面结束 -->
{// 加载加载页脚 }
<include file="Public:footer"/>
